.filters{
    border : 1px solid #DDDDDD;
    border-radius: 4px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;

}

.filters button {
    height: 48px;
    width: 20%;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    transition: .1s ease;
    cursor: pointer;
    display: block;
    margin-right: 30px;
    
}

.filters button:hover{
    opacity: 90%;
    
}
