.places{
    font-size: 30px;
}

.places .container h1{
    width: 100%;
    margin: 0;
}

.places .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places  article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 5px;
    position: relative;
}

.places  article h2{
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.places .price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-top: -25px;
}


.places .information{
    height: 80px;
    border-top: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-top: 10px;
}

.places .information > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 20px;
    position: relative;
    width: fit-content;
}



.places .user{
    border-top: 1px solid #DDDDDD;
    padding-top: 15px;
    margin-top: 15px;
    font-size: 16px;
}

.places .user{
    border-top: 1px solid #DDDDDD;
    padding-top: 15px;
    margin-top: 15px;
}


.places .user > span {
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

/* icons */

.places .group{
    height: 70px;
    width: 50px;
    background-image: url("/images/icon_group.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.places .bed{
    height: 70px;
    width: 50px;
    background-image: url("/images/icon_bed.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.places .bath{
    height: 70px;
    width: 50px;
    background-image: url("/images/icon_bath.png");
    background-repeat: no-repeat;
    background-size: contain;
}